<div class="page">
  <div class="toolbar">
    <button pButton type="button" label="Delete Selected" icon="pi pi-trash" (click)="deleteSelected()" [disabled]="!hasAnySelection()"></button>
  </div>

  @if (isLoaded) {
  <p-treeTable [value]="treeNodes" dataKey="key">
    <ng-template pTemplate="header">
      <tr>
        <th>Contributing Factors for Missed Deadline</th>
        <th style="width:12rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <div class="name-cell" [style.padding-left.px]="(rowNode.level ?? 0) * 16">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <p-checkbox [ngModel]="isSelected(rowNode.node)" (ngModelChange)="toggleSelected(rowNode.node, $event)" [binary]="true"></p-checkbox>
            <input pInputText type="text" [(ngModel)]="rowData.name" style="width: 100%" />
          </div>
        </td>
        <td class="actions">
          <button pButton type="button" icon="pi pi-plus" label="Add Child" (click)="addChild(rowNode.node)"></button>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
  }
</div>


