<div class="page">
  <div class="toolbar">
    <button pButton type="button" label="Delete Selected" icon="pi pi-trash" (click)="deleteSelected()" [disabled]="!hasAnySelection()"></button>
  </div>

  <p-treeTable [value]="treeNodes" selectionMode="checkbox" [(selectionKeys)]="selectedKeys" dataKey="key" [expandedKeys]="expandedKeys">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th style="width:12rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <div class="name-cell" [style.padding-left.px]="(rowNode.level ?? 0) * 16">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
            <input pInputText type="text" [(ngModel)]="rowData.name" style="width: 100%" />
          </div>
        </td>
        <td class="actions">
          <button pButton type="button" icon="pi pi-plus" label="Add Child" (click)="addChild(rowNode.node)"></button>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>


